// Animations

// Arrow scroll down
// @include keyframes(up_down) {
//   0% { bottom: 3%; }
//   50% { bottom: 8%; }
//   100% { bottom: 3%; }
// }
// .arrow-scroll-down {
//   position: absolute;
//   bottom: 3%;
//   left:50%;
//   margin-left: -(14px/2);
//   text-align: center;
//   @include animation('up_down 1s infinite');
// }