//=====================================================
//  Old browsers
//=====================================================
.old_browsers {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 5em auto;
  text-align: center;
  font-family: 'Arial',sans-serif;
  padding: 30px;
  background-color: #FFFFFF;
  z-index: 99999 !important;
}

.old_browser-title {
  font-size: 1.5em;
  line-height: 2em;
  margin-bottom: 50px;
}

.browser {
  margin: 1%;
  position: relative;
  display: block;
  float: left;
  width: 18%;
  height: 150px;

  @media screen and(max-width:800px) {
    margin: 3%;
    width: 44%;
  }

  @media screen and(max-width:400px) {
    margin: 3%;
    width: 94%;
    float: none;
  }

  a {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
    vertical-align: baseline;
  }
}
//=====================================================
//  Page erreur
//=====================================================
.page-error {
  position: relative;
  margin: 0 auto;
  max-width: 700px;
  height: auto;
  text-align: center;
  padding: 20px;
  background-color: #eeeeee;
}
.page-error_logo {
  display: block;
  margin: 0 auto 20px auto;
}
.page-error_title {
  font-family: $font-size-big;
  margin-bottom: 40px;
  text-align: center;
}
.page-error_code {
  font-style: italic;
  margin-bottom: 20px;
}
.page-error_message {
  line-height: $font-size-default;
}
.page-error_btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0 0 0;
  //background-color: $color-main;
  //color: contrast($color-main);
}

//=====================================================
//  Box pour mettre les messages :)
//=====================================================
// Utilisation :
// <div class="box-succes"> Ici ton message </div>

$info: $color-error-blue;
$succes: $color-error-green;
$warning: $color-error-orange;
$error: $color-error-red;


$boxes :
    ('info', $info), // Premier argument le nom de la classe, ici : box-info
    ('succes', $succes),
    ('warning', $warning),
    ('error', $error);

// Propriétées communes aux box
%box {
  display: block;
  padding: 10px 20px;
  font-size: $font-size-base;
  //border: 1px solid;
  &:before {
    font-family: $font-icon;
    margin-right: 10px;
    vertical-align: middle;
  }
}

@each $box in $boxes {

  .box-#{nth($box,1)} {
    @extend %box;
    background-color: rgba(nth($box, 2), 0.2);
    color: darken(nth($box,2), 10%);
    //border-color: darken(nth($box,2), 10%);

    @if nth($box, 1) == 'info' {
      @include webfont-icon('info-circle');
    }

    @if nth($box, 1) == 'succes' {
      &:before {
        @extend %icon-check-circle;
      }
    }

    @if nth($box, 1) == 'warning' {
      &:before {
        @extend %icon-exclamation-triangle;
      }
    }

    @if nth($box, 1) == 'error' {
      &:before {
        @extend %icon-exclamation-triangle;
      }
    }

  }// end box

}// end each
