//=====================================================
//  Box message
//=====================================================
/*  Utilisation :
  <div class="box-succes"> Ici ton message </div>
*/

$color-box-info: $color-alert-info;
$color-bg-box-info: $color-alert-info-light;

$color-box-success: $color-alert-success;
$color-bg-box-success: $color-alert-success-light;

$color-box-warning: $color-alert-warning;
$color-bg-box-warning: $color-alert-warning-light;

$color-box-error: $color-alert-error;
$color-bg-box-error: $color-alert-error-light;

// Premier argument le nom de la classe, ici : box-info
$boxes :
    ('info', $color-box-info, $color-bg-box-info),
    ('success', $color-box-success, $color-bg-box-success),
    ('warning', $color-box-warning, $color-bg-box-warning),
    ('error', $color-box-error, $color-bg-box-error);

// Propriétées communes aux box
%box {
  position: relative;
  display: block;
  padding: 10px 20px 10px 50px;
  font-size: $font-size-base;
  background-color: #ffebee;
  border-left: 3px solid;
  &:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -8px;
    text-align: center;
    vertical-align: middle;
    font-family: $font-icon;
    width: 40px;
  }
}

@each $box in $boxes {

  .box-#{nth($box, 1)} {
    @extend %box;
    background-color: nth($box, 3);
    color: darken(nth($box,2), 0%);
    border-color: darken(nth($box,2), 0%);
    line-height: 1.5em;

    @if nth($box, 1) == 'info' {
      &:before {
        @extend %icon-info-circle;
      }
    }

    @if nth($box, 1) == 'success' {
      &:before {
        @extend %icon-check-circle;
      }
    }

    @if nth($box, 1) == 'warning' {
      &:before {
        @extend %icon-exclamation-triangle;
      }
    }

    @if nth($box, 1) == 'error' {
      &:before {
        @extend %icon-exclamation-triangle;
      }
    }

  }// end box
}// end each


//=====================================================
//  Form error
//=====================================================
.form_error {
  margin-top: 10px;
  li p {
    @extend .box-error;
    position: relative;
    display: block;
    text-align: left;
    margin-bottom: 10px;

    &:after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 10px;
      display: block;

      // triangle
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: $color-alert-error-light transparent transparent transparent;
    }
  }
}