//=====================================================
//  Box message
//=====================================================
/*  Utilisation :
  <div class="box-succes"> Ici ton message </div>
*/

$color-box-info: #3498db;
$color-box-success: #65d269;
$color-box-warning: #feaa2b;
$color-box-error: #ff374d;

$boxes :
    ('info', $color-box-info), // Premier argument le nom de la classe, ici : box-info
    ('succes', $color-box-success),
    ('warning', $color-box-warning),
    ('error', $color-box-error);

// Propriétées communes aux box
%box {
  display: block;
  padding: 10px 20px;
  font-size: $font-size-base;
  //border: 1px solid;
  &:before {
    font-family: $font-icon;
    margin-right: 10px;
    vertical-align: middle;
  }
}

@each $box in $boxes {

  .box-#{nth($box, 1)} {
    @extend %box;
    background-color: rgba(nth($box, 2), 0.2);
    color: darken(nth($box,2), 10%);
    //border-color: darken(nth($box,2), 10%);

    @if nth($box, 1) == 'info' {
      @include webfont-icon('info-circle');
    }

    @if nth($box, 1) == 'succes' {
      &:before {
        @extend %icon-check-circle;
      }
    }

    @if nth($box, 1) == 'warning' {
      &:before {
        @extend %icon-exclamation-triangle;
      }
    }

    @if nth($box, 1) == 'error' {
      &:before {
        @extend %icon-exclamation-triangle;
      }
    }

  }// end box
}// end each


//=====================================================
//  Form error
//=====================================================
.form_error {
  li p {
    position: relative;
    display: block;
    text-align: left;
    margin-bottom: 10px;
    @extend .box-error;

    &:after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 10px;
      display: block;

      // triangle
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: rgba($color-form-error, 0.2) transparent transparent transparent;
    }
  }
}