// Buttons
$btn-padding: 10px 25px;
$btn-font: $font-main;
$btn-font-size: $font-size-middle-small;
$btn-font-weight: $font-weight-bold;
$btn-transition: $duration;

%btn {
  display: inline-block;
  padding: $btn-padding;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $btn-font;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  transition-duration: $btn-transition;
}

.btn {
  @extend %btn;
}

.btn-main {
  @extend .btn;
  background-color: $color-main;
  color: $white;
}

.btn-main-icon {
  @extend .btn-main;
  i {
    margin: 0 10px;
  }
}