//=====================================================
//  Variables
//=====================================================
$navburger-time-anim: 0.5s;
// Navburger
$navburger-width: 50px;
$navburger-height: 50px;
$navburger-bg-color: $color-main;
$navburger-bg-color-hover: $color-main;
// Navsteak
$navsteak-width: 30px;
$navsteak-height: 2px;
$navsteak-before-width: 20px;
$navsteak-after-width: 20px;
// colors
$navsteak-color: $white;
$navsteak-before-color: inherit;
$navsteak-after-color: inherit;

// mobile first (min-width)
@mixin navburger($screen-menu-desktop) {
  .navburger {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: $navburger-width;
    height: $navburger-height;
    line-height: $navburger-height - $navsteak-height;
    text-align: center;
    cursor: pointer;
    background-color: $navburger-bg-color;
    transition-duration: $navburger-time-anim;

    @media screen and (min-width: $screen-menu-desktop) {
      display: none;
    }

  }
  .navburger:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$navsteak-height / 2;
    margin-left: ($navsteak-width / 2)* -1;
    width: $navsteak-width;
    height: $navsteak-height;
    background-color: $navsteak-color;
    opacity: 0;
    transform-origin: center center;
    transform: rotate(0deg);
    transition-duration: $navburger-time-anim;
    transition-delay: 0s;
  }
  // Navsteak
  .navsteak {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: $navsteak-width;
    height: $navsteak-height;
    background-color: $navsteak-color;
    transform-origin: center center;
    transition-duration: $navburger-time-anim;
    transition-delay: 0s;
  }
  .navsteak:before, .navsteak:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: $navsteak-before-width;
    height: $navsteak-height;
    transition-duration: $navburger-time-anim / 2;
    transition-delay: $navburger-time-anim;
  }
  // Navsteak before
  .navsteak:before {
    top: ($navsteak-height + 5px) * -1;
    right: 0;
    background-color: $navsteak-before-color;
  }
  // Navsteak after
  .navsteak:after {
    bottom: ($navsteak-height + 5px) * -1;
    left: 0;
    background-color: $navsteak-after-color;
  }
  // Hover
  .navburger:hover {
    background: $navburger-bg-color-hover;
  }
  // Active
  .navburger.is-active .navsteak:before,
  .navburger.is-active .navsteak:after {
    transition-delay: 0s;
     width: 0;
    transition-duration: $navburger-time-anim /2;
  }
  .navburger.is-active .navsteak {
    transform: rotate(45deg);
    transition-delay: $navburger-time-anim /2;
  }
  .navburger.is-active:after {
    opacity: 1;
    transform: rotate(-45deg);
    transition-delay: $navburger-time-anim /2;
  }
}

// Generate Navburger
@include navburger($screen-menu-desktop);