//=====================================================
//  Animations
//=====================================================
$duration: 0.3s;

//=====================================================
//  Breakpoints
//=====================================================
$screen-s: 640px;
$screen-m: 768px;
$screen-l: 1024px;
$screen-xl: 1250px; // xl = extra-large
$screen-menu-desktop: 900px;

//=====================================================
//  Colors
//=====================================================
// Categories
$color-main: #35c870;
$color-main-2: #1aa4e5;
$color-allianz: #004b8f;

// Basics
$black: #404040;
$white: #ffffff;
$color-grey-light: #eaeaea;
$color-grey: #8d8d8d;
$color-grey-dark: #404040;
$color-red: #fe3450;

// Box alert
$color-alert-error: $color-red;
$color-alert-error-light: #fff8f9;

$color-alert-info: $color-main-2;
$color-alert-info-light: #f4fbff;

$color-alert-success: $color-main;
$color-alert-success-light: #ecffed;

$color-alert-warning: #feaa2b;
$color-alert-warning-light: #fff8ed;

// Socials
$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-instagram: #517fa4;
$color-google-plus: #dd4b39;
$color-pinterest: #cb2027;

//=====================================================
//  Fonts
//=====================================================
// Famillies
$font-main: 'Open Sans' ,Helvetica, sans-serif;
$font-icon: 'icon'; // In gulpfile: iconfont task

// Sizes
$font-size-default: 16px !default;
$font-size-extra-small: 10px;
$font-size-small: 12px;
$font-size-base: $font-size-default;
$font-size-middle-small: 18px;
$font-size-middle: 22px;
$font-size-big: 42px;

// weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

//=====================================================
//  Style
//=====================================================
$border-radius: 15px;