// Generation de la grille avec des classes "fictive"
@import "./node_modules/susy/sass/susy";
@import "./node_modules/breakpoint-sass/stylesheets/breakpoint";

$columns: 12;
$gutters: 20px;
$susy: (
  columns: $columns,
  gutters: $gutters/100px,
  gutter-position: inside-static,
  column-width: 100px,
  global-box-sizing: border-box
);

.container {
  @include container(auto);
}
// generation de la grille fictive
@include breakpoint(max-width 640px) {
   @for $i from 1 through $columns {
     %col-xs-#{$i} {
       @include span($i);
     }
   }
 }

@include breakpoint(min-width 640px) {
   @for $i from 1 through $columns {
     %col-s-#{$i} {
       @include span($i);
     }
   }
 }

@include breakpoint(min-width 768px) {
  @for $i from 1 through $columns {
    %col-m-#{$i} {
      @include span($i);
    }
  }
}

@include breakpoint(min-width 1024px) {
  @for $i from 1 through $columns {
    %col-l-#{$i} {
      @include span($i);
    }
  }
}

@for $i from 1 through $columns {
  %col-#{$i} {
    @include span($i);
  }
}

/* vraie classe */
//
// @include breakpoint(max-width 640px) {
//   @for $i from 1 through $columns {
//     .col-xs-#{$i} {
//       @include span($i);
//     }
//   }
// }

// @include breakpoint(min-width 640px) {
//   @for $i from 1 through $columns {
//     .col-s-#{$i} {
//       @include span($i);
//     }
//   }
// }

// @include breakpoint(min-width 768px) {
//  @for $i from 1 through $columns {
//    .col-m-#{$i} {
//      @include span($i);
//    }
//  }
// }

// @include breakpoint(min-width 1024px) {
//  @for $i from 1 through $columns {
//    .col-l-#{$i} {
//      @include span($i);
//    }
//  }
// }

// @for $i from 1 through $columns {
//  .col-#{$i} {
//    @include span($i);
//  }
// }
