@import "./node_modules/susy/sass/susy";

$columns: 12;
$gutters: 20px;
$susy: (
  columns: $columns,
  gutters: $gutters/100px,
  gutter-position: inside-static,
  column-width: 100px,
  global-box-sizing: border-box
);

.row {
  @include container(auto);
}

@mixin shadowGridGenerator($columns, $breakpoint, $prefix) {
  @media screen and (min-width: $breakpoint) {
    @for $i from 1 through $columns {
      %col#{$prefix}-#{$i} {
    @include span($i);
  }
    }
  }
}

@include shadowGridGenerator($columns, $screen-s, '-s');